<center><h1>Welcome</h1>
<h2>Syntax Info!</h2>
<p>Please Select the language you would like to search for:</p>
<p><input type="radio" name="language" value="C++" id="Cplusplus">C++ 
	<input type="radio" name="language" value="Jquery" id="Jquery">Jquery 
	<input type="radio" name="language" value="Web" id="Web">JavaScript/HTML/CSS
	<input type="radio" name="language" value="PHP" id="PHP">PHP</p>
<textarea contenteditable="true" spellcheck="true">Enter To Search!</textarea>
<button type="button">search</button></center>
